.jumbotron {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1, h2 {
    color: white;
    text-align: center;
}

#add-user{
    float: right;
}